* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", Arial, sans-serif;
}

.container {
  align-items: center;
  background: linear-gradient(-45deg, #2f4353, #4778a0, #65606d, #59575c);
  background-color: #2f4353;
  background-size: 300% 300%;
  position: relative;
  height: 100vh;
  animation: change 15s ease-in-out infinite;
}

.game-title {
  text-align: center;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  font-family: "Lato";
  font-weight: 500;
  padding: 1rem 2rem;
  border: 3px solid #fff;
  color: #fff;
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /*add media here*/
}

.game-container {
  width: 48%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid {
  margin: 0;
  box-shadow: 5px 10px 15px #282c34;
}

.rules-container {
  width: 40%;
  margin: 0;
  padding-right: 4rem;
  padding-top: 2rem;
}

h2 {
  font-family: "Lato";
  padding-top: 1rem;
  margin: 0;
  color: rgb(231, 229, 229);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h3 {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
  padding: 1em 0;
}

li {
  color: #fff;
  font-size: 14px;
  font-family: "Lato";
  list-style-position: inside;
  padding: 5px;
}

p {
  color: #fff;
  font-size: 16px;
  font-family: "Lato";
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0px;
}

.btn {
  padding: 5px;
  margin: 0 4px;
  background-color: lightgrey;
  outline: none;
  text-transform: uppercase;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #282c34;
}

.btn:hover {
  background-color: #204664;
  color: #fff;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}