* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", Arial, sans-serif;
}

.Game-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg, #2f4353, #4778a0, #65606d, #59575c);
  background-color: #2f4353;
  background-size: 300% 300%;
  position: relative;
  height: 100vh;
  animation: change 15s ease-in-out infinite;
}

.grid {
  margin: 0;
  padding-bottom: 1rem;
}

.Game-title {
  letter-spacing: 0.5rem;
  font-size: 3rem;
  font-family: "Lato";
  font-weight: 500;
  padding: 1rem 2rem;
  border: 3px solid #fff;
  color: #fff;
}

h2 {
  font-family: "Lato";
  padding-top: 3rem;
  margin: 0;
  color: rgb(231, 229, 229);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
